@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "woodmart-font";
	src: url("//chooseyourchoicebd.com/wp-content/themes/woodmart/fonts/woodmart-font-1-400.woff2?v=7.5.2") format("woff2");
}

:root {
	--wd-text-font: "Doppio One", Arial, Helvetica, sans-serif;
	--wd-text-font-weight: 400;
	--wd-text-color: #777777;
	--wd-text-font-size: 14px;
	--wd-title-font: "Cabin", Arial, Helvetica, sans-serif;
	--wd-title-font-weight: 600;
	--wd-title-color: #242424;
	--wd-entities-title-font: "Cabin", Arial, Helvetica, sans-serif;
	--wd-entities-title-font-weight: 600;
	--wd-entities-title-color: #333333;
	--wd-entities-title-color-hover: rgb(51 51 51 / 65%);
	--wd-alternative-font: "Lato", Arial, Helvetica, sans-serif;
	--wd-widget-title-font: "Cabin", Arial, Helvetica, sans-serif;
	--wd-widget-title-font-weight: 700;
	--wd-widget-title-transform: uppercase;
	--wd-widget-title-color: #333;
	--wd-widget-title-font-size: 16px;
	--wd-header-el-font: "Cabin", Arial, Helvetica, sans-serif;
	--wd-header-el-font-weight: 700;
	--wd-header-el-transform: uppercase;
	--wd-header-el-font-size: 13px;
	--wd-primary-color: rgb(221,153,51);
	--wd-alternative-color: #fbbc34;
	--wd-link-color: #333333;
	--wd-link-color-hover: #242424;
	--btn-default-bgcolor: #f7f7f7;
	--btn-default-bgcolor-hover: #efefef;
	--btn-accented-bgcolor: rgb(221,153,51);
	--btn-accented-bgcolor-hover: rgb(221,153,51);
	--wd-form-brd-width: 1px;
	--notices-success-bg: #459647;
	--notices-success-color: #fff;
	--notices-warning-bg: #E0B252;
	--notices-warning-color: #fff;
	--wd-sticky-btn-height: 95px;
}
.woodmart-woocommerce-layered-nav .wd-scroll-content {
	max-height: 223px;
}
.wd-popup.wd-age-verify {
	--wd-popup-width: 500px;
}
.wd-popup.wd-promo-popup {
	background-color: rgb(255,255,255);
	background-image: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
	--wd-popup-width: 800px;
}
.page-title-default {
	background-color: rgba(221,153,51,0.69);
	background-image: none;
	background-size: cover;
	background-position: center center;
}
.footer-container {
	background-color: #BC6377;
	background-image: none;
}
.product-labels .product-label.new {
	background-color: rgb(221,51,51);
}
.product-labels .product-label.out-of-stock {
	background-color: rgb(238,238,34);
}
.product-labels .product-label.attribute-label:not(.label-with-img) {
	background-color: rgb(221,153,51);
}
.wd-popup.popup-quick-view {
	--wd-popup-width: 920px;
}

@media (max-width: 1024px) {
	:root {
		--wd-sticky-btn-height: 95px;
	}

}

@media (max-width: 768.98px) {
	:root {
		--wd-sticky-btn-height: 42px;
	}

}
:root{
--wd-container-w: 1222px;
--wd-form-brd-radius: 0px;
--btn-default-color: #333;
--btn-default-color-hover: #333;
--btn-accented-color: #fff;
--btn-accented-color-hover: #fff;
--btn-default-brd-radius: 0px;
--btn-default-box-shadow: none;
--btn-default-box-shadow-hover: none;
--btn-default-box-shadow-active: none;
--btn-default-bottom: 0px;
--btn-accented-bottom-active: -1px;
--btn-accented-brd-radius: 0px;
--btn-accented-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
--btn-accented-box-shadow-hover: inset 0 -2px 0 rgba(0, 0, 0, .15);
--wd-brd-radius: 0px;
}

@media (min-width: 1239px) {
.platform-Windows .wd-section-stretch > .elementor-container {
margin-left: auto;
margin-right: auto;
}
}

@media (min-width: 1222px) {
html:not(.platform-Windows) .wd-section-stretch > .elementor-container {
margin-left: auto;
margin-right: auto;
}
}


/* .whb-header {
     padding-bottom: 0px;
}
..whb-main-header{z-index:400;} */

/****** Disable Download Image ********/

/* img{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;pointer-events:none}
-webkit-tap-highlight-color:rgba(255, 255, 255, 0);}

.mycustom-zone span.optional{display:none;} */

/********* Muthofun plugin ***********/
/* #mobile_field{display:none} */@media (min-width: 1025px) {
	.whb-header{
/*padding-bottom:150px;*/
}


}

@media (min-width: 768px) and (max-width: 1024px) {
	.whb-header{
/*padding-bottom:80px;*/
}
}

@media (min-width: 577px) and (max-width: 767px) {
	.whb-header{
/*padding-bottom:60px;*/
}
}

@media (max-width: 576px) {
	.whb-header{
/*padding-bottom:80px;*/
}
}

